@page "/"
@using shift_dashboard.Services;
@using Blazorise.DataGrid;
@using Delegate = shift_dashboard.Model.Delegate;

@inject IApiService _apservice;

<Row>
    <Column>
        <Card Margin="Margin.Is4.OnY">
            <CardHeader>
                <CardTitle>Delegates</CardTitle>
            </CardHeader>
            <CardBody>
                <CardText>Show All Delegates registred</CardText>
            </CardBody>
            <CardBody>
                <DataGrid TItem="Delegate"
                          Bordered="true"
                          Hoverable="true"
                          ShowPager="true"
                          Sortable="true"
                          PagerPosition="DataGridPagerPosition.Bottom"
                          Data="@delegateList"
                          ReadData="@OnReadData"
                          TotalItems="500">
                          
                    <EmptyTemplate>
                        <div class="box">
                            <progress class="progress is-small is-primary" max="100" />
                        </div>
                    </EmptyTemplate>
                    <LoadingTemplate>
                        <div class="box">
                            No Delegate Found
                        </div>
                    </LoadingTemplate>
                    <ChildContent>
                        <DataGridCommandColumn TItem="Delegate" />
                        <DataGridColumn TItem="Delegate" Field="@nameof(Delegate.Rank)" Caption="Rank" />
                        <DataGridColumn TItem="Delegate" Field="@nameof(Delegate.Username)" Caption="User Name" />
                        <DataGridColumn TItem="Delegate" Field="@nameof(Delegate.Address)" Caption="Address" />
                        <DataGridColumn TItem="Delegate" Field="@nameof(Delegate.Approval)" Caption="Approval" />
                        <DataGridColumn TItem="Delegate" Field="@nameof(Delegate.Vote)" Caption="Vote" />
                    </ChildContent>

                </DataGrid>
            </CardBody>
        </Card>
    </Column>
</Row>

@code {

    List<Delegate> delegateList;
    int totalDelegate;

    async Task OnReadData(DataGridReadDataEventArgs<Delegate> e)
    {
        // this can be call to anything, in this case we're calling a fictional api
        delegateList = _apservice.GetDelegatesFromDb().ToList();

        totalDelegate = delegateList.Count(); // this is used to tell datagrid how many items are available so that pagination will work

        // always call StateHasChanged!
        StateHasChanged();
    }

}
