@page "/"
@using shift_dashboard.Services;

@inject IApiService _apservice;

@using BlazorTable

<h1>Delegates</h1>

<Table TableItem="shift_dashboard.Model.Delegate" Items="sdelegates" PageSize="101" ShowSearchBar="true">
    <Column TableItem="shift_dashboard.Model.Delegate" Title="Rank" Field="@(x => x.Rank)" Sortable="true" Filterable="true" Width="10%" />
    <Column TableItem="shift_dashboard.Model.Delegate" Title="UserName" Field="@(x => x.Username)" Sortable="true" Filterable="true" Width="10%" />
    <Column TableItem="shift_dashboard.Model.Delegate" Title="Address" Field="@(x => x.Address)" Sortable="true" Filterable="true" Width="20%" />
    <Column TableItem="shift_dashboard.Model.Delegate" Title="Vote" Field="@(x => x.Vote)" Sortable="true" Filterable="true" Width="10%" />
    <Column TableItem="shift_dashboard.Model.Delegate" Title="Approval" Field="@(x => x.Approval)" Sortable="true" Filterable="true" Width="5%" />
    <Column TableItem="shift_dashboard.Model.Delegate" Title="Productivity" Field="@(x => x.Productivity)" Sortable="true" Filterable="true" Width="5%" />


    <Pager ShowPageNumber="true" ShowTotalCount="true" ShowPageSizes="true" />
</Table>




@code
{

    private shift_dashboard.Model.Delegate[] sdelegates;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        sdelegates = _apservice.GetDelegatesFromDb();

    }

}